* {
  margin: 0;
  box-sizing: border-box;
}
.title {
  margin-left: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form__number {
  background-color: lightgray;
  opacity: 0.5;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.32);
}
.form__btn {
  background-color: aquamarine;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.32);
}
.form__clue {
  width: 80%;
}
.form__counter {
  width: 80%;
}
.item {
  margin: 3px 20px;
  padding: 3px;
}
.randomNumber {
  background-color: pink;
}
/* No he podido anidar clases, creo que no reconoce &, porque no hay starter kit? */
